.Foot {
    text-align: center;
  }
  
  .Foot-logo {
    height: 40vmin;
    pointer-events: none;
  }
  .Foot-footer {
    background-color: #0b307a;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  footer {
    width: 100%;
    height: 10vh;
    bottom: 0;
    background-color: #fff;
  }