.lProduit {
    height: 200px;
    background-color: aquamarine;
}

.cardCont {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(180, 180, 180, 0.13);
   
}
.cardP {
    width: 300px;
    height: 600px;

}
.imgCard {
    width: 100%;
    
}