.Foot {
  text-align: center;
  height: 30vh;
}

.Foot-logo {
  height: 20vmin;
  pointer-events: none;
}

.Foot-footer {
  background-color: #0f3581;
height: 30vh;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}